<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="shortcut icon" href="../public/img/favicon.ico">
    <style type="text/css">
    body {
        background-image: URL(../public/img/404.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .btn {
    	display: table-cell;
    	width: 100px;
    	height: 55px;
    	background-color: #FA3216;
		font-size: 40px;
		font-weight: bold;
		vertical-align: middle;
		border-radius: 27px;
		text-align: center;
        color: #ccc;
        text-decoration: none;
    }
    </style>
</head>

<body>
	<a class="btn" href="/">主页</a>
</body>

</html>